.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

#view,
#view2,
#platformMode,#platformMean, #platformMedian,
#genreMode, #genreMean, #genreMedian{
  width: 100%;
  height: 100%;
  max-width: 800px;
  font-style: normal;
}

#publisherMode, #publisherMedian, #publisherMean,
#yearMode, #yearMedian, #dsGenre, #platformGlobal, #platformSalesTime, #genreSalesTime, #regionalSalesPlatform{
  width: 100%;
  height: 100%;
  max-width: 30rem;
  font-style: normal;
}

#regionalSalesPlatform, #regionalSalesGenre{
  width: 100%;
  height: 100%;
  max-width: 70rem;
  background-color: #ffffff;
  border-radius: 0.5rem;
  padding: 2rem;
}

.chart-three-col-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.chart-two-col-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.edit{
    color: #ff0000;
}

.small-spacing{
  padding-bottom: 2rem;
}

.box{
  background-color: #EEEEEE;
  padding: 2rem;
  border-radius: 0.5rem;
}

.second-vis{
  padding-top: 4rem;
}