.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}


#view,
#view2,
#platformMean{
  width: 100%;
  height: 100%;
  max-width: 800px;
}