body{
    background-color: #FFFEFA;
}

h1{
    color: #000;
    font-family: "Avantt TRIAL";
    font-size: 4.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

h2{
    color: #92BE00;
    font-family: "PP Mori";
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}

h3{
    color: #292323;
    font-family: "PP Mori";
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 0rem;
}

h4{
    color: rgba(41, 35, 35, 0.30);
    font-family: "PP Mori";
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    margin-top: 0rem;
}

p{
    color: #292323;
    font-family: "PP Mori";
    font-size: 1rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

li{
    color: #292323;
    font-family: "PP Mori";
    font-size: 1rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

/*Class definitions*/
.titles{
    padding: 1rem;
    background-color: lightgray;
    border: white solid 2px;
    border-radius: 10px;
    color: teal;
}

.info-grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  margin: 4rem auto;
  padding: 1rem;
}

.box{
  background-color: #EEEEEE;
  padding: 2rem;
  border-radius: 8px;
}

.box-experience{
    grid-column: 1 / -1;      /* spans both columns */
    border: 2px solid #EEEEEE;
    border-radius: 8px;
    padding: 2rem;
}

/*ID definitions*/
#introduction{
    margin: 0 auto;
    max-width: 54rem;
    padding-top: 4rem;
}

#arrow{
    margin: 0 auto;
    max-width: 3rem;
    padding-top: 2rem;
    color: #92BE00;
    font-size: 3rem;
}