h1{
    color: #090F0D;
    font-family: "PP Mori";
    font-size:2.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: lowercase;
}

h2{
    color: #92BE00;
    font-family: "PP Mori";
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}

h3{
    color: #292323;
    font-family: "PP Mori";
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 0rem;
}

h4{
    color: rgba(41, 35, 35, 0.30);
    font-family: "PP Mori";
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    margin-top: 0rem;
}

p{
    color: #292323;
    font-family: "PP Mori";
    font-size: 1rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

li{
    color: #292323;
    font-family: "PP Mori";
    font-size: 1rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

/*Class definitions*/
.titles{
    padding: 15px;
    background-color: lightgray;
    border: white solid 2px;
    border-radius: 10px;
    color: teal;
}

/*ID definitions*/
#mainheadline{
    color: chartreuse;
}